@mixin screen768{
  @media screen and (min-width:768px){
    @content;
  }
}
@mixin screen1024{
  @media screen and (min-width:1200px){
    @content;
  }
}
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
.center{
  display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  @include screen768{
  font-size: 35px
  }
  @include screen1024{
  font-size: 16px;
  }
}
.hide{
  display:none
}
.fadeIn{
  display:block!important
}
.highlight{
  background:yellow;font-style:normal;font-size:35px
}
body{
  overflow-x: hidden;
  background: linear-gradient(90deg,#012f5a, #ffffff,#012f5a);
}
.main{
  background: white;
  @include screen1024{
  position: relative;
      max-width: 960px;
      /* margin-left: 50%; */
      left: 50%;
      transform: translate(-50%, 0);
    }
}

header{
  position: relative;
  width: 100%;
  background: linear-gradient(90deg,rgba(0,0,0,1) 80%,rgba(30,30,30,1));
  @include screen1024{
    height: 10.4vh;
  }
}
.header__logo{

    height: 4vh;
    margin: 1vh;
    @include screen768{
      height: 5vh;
      margin: 2vh;
    }
    @include screen1024{
      width: 42%;
height: auto;
position: absolute;
bottom: 15px;
left:30px;
margin:unset
    }

}
.search__wrapper{
  display: none;
  @include screen1024{
    display: inline-block;
/* height: 18%; */
width: 130px;
position: relative;
float: right;
right: 26px;
height: 22px;
top:15px;
  }
}
.search__icon{
  position: absolute;
    height: 80%;
    z-index: 1;
    top: 10%;
    left: 3%;

}
input{

display: none;
  @include screen1024{
    display: inline-block;
    font-size: 15px;
position: absolute;
    border-radius: 100px;
    width:100%;
    text-indent: 23px;
  }
}
#menu{
  filter:invert(1);

      height: 3vh;
      margin: 1.5vh;
      @include screen768{
        height: 4vh;
        margin: 2.5vh;
      }
      @include screen1024{
        display: none
      }
float: right;
}
.menu{

  left:0;
  display:none;
  @include screen1024{
    bottom: 15px;
    position: absolute;
    display: inline-block;
    right: 26px;
    left:unset
  }
}
.open{
  top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background: white;
    display: inline-block;
    opacity:0;
    animation: open 1s forwards;
}

@keyframes open{
  from{
    opacity:0
  }to{
    opacity:1;
  }
}
.close{
  top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background: white;
    display: inline-block;
  animation: close 1s forwards;

}
@keyframes close{
  from{
    opacity:1
  }to{
    opacity:0;
  }
}
#closeButton{
  width: 9%;
float: right;
@include screen1024{
  display: none
}
}
.links__list{
  POSITION: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    @include screen768{
      font-size: 50px;
line-height: 60px;
@include screen1024{
  POSITION: relative;
  display: inline-block;
    top: unset;
    left: unset;
    transform: none;
    list-style: none;
    font-size: 20px;
    line-height: unset;
}
    }
}
.links__list li{
  @include screen1024{
    display: inline-block;
    font-size: 14px ;
    color: white;
  }

}
.content{
  display: flex;
}
#articles{
  flex:5;
}
.sidebar{
  flex:2;
}
.article__info{
  @include screen1024{
    display: flex;
    flex:3;
    flex-direction: column;
    justify-content: space-between;
}

}
.thumbnail{
  display: none;
  @include screen1024{
    overflow: hidden;
    display: inline-block;
    flex:1;
  }
}
.thumbnail>img{
  width:100%;
  height: auto;
}
#article__page_picker{
  display: flex;

}
.article__page_wrapper{
  display: flex
}
.article__page_number{
  background: lightgray;
    text-align: center;
    width: 20px;
    margin: 3px;
}
.article__page_number-active{
      background: darkgray
}
.slider{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 54vh;
}
#next{
  position: absolute;
z-index: 3;
right: 0;
top: 50%;
transform: translate(0,-50%);
}

#prev{
  position: absolute;
z-index: 3;
left: 0;
top: 50%;
transform: translate(0,-50%) rotate(180deg);

}
.slider__image_wrapper{
  flex-grow: 7;
  position: relative;
    overflow: hidden;
}
.slider__image{
  position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
min-width: 100%;
    transform: translate(-50%, -50%);
    display:none;
}
.slider__text{
  display: flex;
  flex-grow: 3;
    background: black;
    color: gray;
}
.slider__text_inner{
  flex:2;
  position: relative;
}
.slider__text_inner_inner{
  font-size: 17px;
  width:90%;
  @include screen1024{
  font-size: 31px;
  }
}
.slider__text_social{
  display:none;
  @include screen1024{
    display: inline-block;
  position: relative;
  flex:1
}
}
.article{
  display:flex;
    margin: 35px;

}
.article__button{
  @include screen768{
    width:30%;
  }
  @include screen1024{
    height: 27px;
    width: 141px;
  }
}
.thumbnail__date{
  color:lightblue
}
.sidebar{
  display: none;
  @include screen1024{
    display: block;
    background: linear-gradient(#e7e7e7,#ffffff);
  }
}
.sidebar__item{

  margin-top: 25px;
  margin-left: 25px;
}
.sidebar__item>h1{
  margin-bottom:20px
}
.sidebar__table_row{
  display: flex;
}
.sponsors__images{
  width:100%
}

footer{
  display: flex;
  position: relative;
  min-height:40vh;
  background: black;
  color:white
}
.hide_mobile{
  display: none;
}
.footer__info_wrapper{
  position: absolute;
  top:50%;
  left: 5%;
  transform: translate(0,-50%);
  @include screen1024{
    position: relative;
    display: inline-block!important;
    top:unset;
    left: unset;
    transform: unset;
    margin:10px
  }
}
.footer__info_wrapper>h1{
  font-size:28px;
  margin-bottom:16px
}
.footer__info_wrapper>p{
margin-bottom:16px
}
.collumn{
flex:1
}
h1{
  @include screen768{
    font-size: 60px;
  }
  @include screen1024{
    font-size: 22px
  }
}
